* {
  padding: 0;
  margin: 0;
  border: none;
  text-decoration: none;
  list-style: none;
}
*:focus {
  outline: 0;
}
html,
body {
  height: 100%;
  font-family: "Times New Roman", Times, serif;
}
.chat {
  height: 100%;
  display: flex;
}
/*Sidebar*/
.sidebar {
  width: 300px;
  min-width: 300px;
  background-color: #eee;
  border-right: 1px solid #ddd;
  display: flex;
  flex-direction: column;
}
.sidebar .contacts {
  overflow: auto;
}

.sidebar .contacts ul li a {
  display: flex;
  height: 60px;
  border-bottom: 1px solid #ddd;
  align-items: center;
  padding: 0 10px;
}
.sidebar .contacts ul li a img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}
.sidebar .contacts ul li a .notification {
  width: 18px;
  height: 18px;
  background-color: red;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  margin-left: auto;
}
.sidebar .contacts ul li a .notification:empty {
  display: none;
}
.sidebar .contacts ul li a .contact .name {
  color: #333;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 5px;
}
.sidebar .contacts ul li a.active,
.sidebar .contacts ul li a:hover {
  background-color: #fff;
}

.sidebar .contacts ul li a .contact .message {
  font-size: 13px;
  color: #999;
}

.search {
  height: 60px;
  border-bottom: 1px solid #ddd;
  position: relative;
  padding: 0 15px;
  display: flex;
  align-items: center;
}
.search input {
  width: 100%;
  height: 30px;
  border-radius: 30px;
  font-size: 14px;
  padding: 0 35px 0 15px;
}
.search i {
  position: absolute;
  right: 0;
  top: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
}
/* content*/

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.content .message-header {
  height: 50px;
  border-bottom: 1px solid #ddd;
  background-color: rgba(248, 247, 247, 0.644);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 15px;
}
.content .message-header .user-info img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.content .message-header .user-info {
  display: flex;
  align-items: center;
}
.content .message-header .user-info .user .name {
  font-size: 14px;
  padding: 0 15px;
  color: #333;
}
.content .message-header .user-info .user .active {
  font-size: 12px;
  padding: 0 20px;
  color: #999;
}
.content .message-header .actions ul {
  display: flex;
}
.content .message-header .actions ul li a {
  font-size: 19px;
  color: #999;
  width: 30px;
  display: block;
  text-align: center;
}
.content .message-header .actions ul li a:hover {
  color: #222;
}
.content .form {
  background-color: #eee;
  border-top: #ddd;
  padding: 10px;
}
.content .form ul {
  display: flex;
}
.content .form ul li {
  margin: 5px;
}
.content .form ul li.input {
  flex: 1;
}
.content .form ul li.input input {
  height: 36px;
  width: 100%;
  border-radius: 30px;
  font-size: 14px;
  box-sizing: border-box;
}
.content .message-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.content .form ul li a {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: block;
  background-color: #999;
  text-align: center;
  line-height: 36px;
}
.content .form ul li a#image {
  background-color: #4caf50;
  color: #eee;
}
.content .form ul li a#microphone {
  background-color: #ff5722;
  color: #eee;
}
.content .form ul li a#laugh {
  background-color: blueviolet;
  color: #eee;
}
.content .message-content::before {
  content: "";
  margin-bottom: auto;
}

.content .message-content .message {
  align-self: flex-start;
  margin-bottom: 20px;
  padding: 15px;
}
.content .message-content .message.me {
  align-self: flex-end;
}
.content .message-content .message.me .bubble {
  background-color: #0f89cf;
  color: #fff;
}
.content .message-content .message.me .time {
  text-align: right;
}
.content .message-content .message .bubble {
  padding: 6px 12px;
  border-radius: 30px;
  font-size: 14px;
  margin-bottom: 5px;
  background-color: rgba(153, 153, 153, 0.26);
}
.content .message-content .message .time {
  font-size: 12px;
  color: #999;
}
